.left {  
	float: left;
} 

.right {   
	float: right;
}  

.clear {  
	clear: both;
}  

.main_container {
	padding-top: 50px;
	padding-bottom: 20px;
}   

.my_button {
	margin-right: 10px;
}

.my_hidden_div {
	display: none;
}   

.my_search_box {
	margin-bottom: 20px;
}   

table.academic th, table.academic td {   
	text-align: center;
}   

.update_student_grade {  
	width: 100px;
	text-align: center;
}    

#captcha_image_container {   
	margin-top: 9px;
}

.refresh_captcha {    
	display: block;
	margin-top: 15px; 
	margin-left: 15px;  
	cursor: pointer;
}         


/* below are the styles for the tabs */     

.tabs { 
	display: none;  
}  

/* below is for the carousel */  

.carousel-control { 
	display: none;
}  

.carousel-indicators { 
	display: none;
}   

/* below are for the glow of the inputs */  

.success_color { 
	border-color: #5CB85C; 
}  

.error_color { 
	border-color: red; 
}

.success_color:focus { 
	border-color: #5CB85C;  
	box-shadow: #5CB85C;
}

.error_color:focus {  
	border-color: red;  
	box-shadow: red;
} 

/* below are the designs for the popover */          

.popover .popover-title { 
	text-align: center;
}  

.success_wrap { 
	border-color: #5CB85C;
}  

.success_wrap.top .arrow { 
	border-top-color: green;
}  

.success_wrap .popover-title { 
	color: #5CB85C;  
	font-weight: bold;
}    

.success_wrap .popover-content { 
	color: #5CB85C;  
}       


.error_wrap { 
	border-color: red;
}  

.error_wrap.top .arrow { 
	border-top-color: red;
}  

.error_wrap .popover-title { 
	color: red;  
	font-weight: bold;
}    

.error_wrap .popover-content { 
	color: red;  
}       

/* below is for the print design */      

.for_print { 
	display: none;
	visibility: hidden;   
	position: absolute; 
	top: 0px;  
	left: 0px;
	height: 0px;
}


@media print {
	
	@page {
		size: auto;   /* auto is the current printer page size */
		margin: 0mm;  /* this affects the margin in the printer settings */
    }
	
	body * {
		visibility: hidden;
	}
	
	.for_print, .for_print * {
		visibility: visible;
	}   

	.for_print {    
		display: block;
		width: 100%; 
		height: 100%;
		position: absolute;
		left: 10;
		top: 10; 
		text-align: center
	}     
	
}  

/* below is the design for the students controller */

#code_submit { 
	margin-left: 18px;
}    


/* below lets redesign the template */  


@font-face {
    font-family: roboto;
    src: url(RobotoSlab-Bold.ttf);
}  

* {
	
	font-family: roboto;
}
 
  
body {   
	background-color: #FAF6CF; 
}    


.nav-tabs {  
	border-bottom: 1px solid #000000;
}  

.page-header {  
	border-bottom: 1px solid #000000;
}
  
.form-control {  
	border-radius: 0;    
	/*border: 1px solid #000000;*/
}      


.navbar { 
	
	/*background-color: #5CB85C;*/  
	background-color: #fd9902;
	border-bottom: none;
}  

.navbar-inverse .navbar-nav > li > a { 
	color: #000000;
}

.navbar .navbar-brand { 
	color: #000000;
}        


/*.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn { 
	border-radius: 0; 
	border: 1px solid #000000;
}*/


.modal .modal-content { 
	background-color: #FAF6CF;
}  

.modal .modal-content .modal-header {   
	background-color: #fd9902;
}

/* below is the footer */
footer {  
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px solid #000000;
}






   













  






