.left {  
	float: left;
} 

.right {   
	float: right;
}  

.clear {  
	clear: both;
}  

.main_container {
	padding-top: 50px;
	padding-bottom: 20px;
}   

.my_button {
	margin-right: 10px;
}

.my_hidden_div {
	display: none;
}   

.my_search_box {
	margin-bottom: 20px;
}   

table.academic th, table.academic td {   
	text-align: center;
}   

.update_student_grade {  
	width: 100px;
	text-align: center;
}    

#captcha_image_container {   
	margin-top: 9px;
}

.refresh_captcha {    
	display: block;
	margin-top: 15px; 
	margin-left: 15px;  
	cursor: pointer;
}         


/* below are the styles for the tabs */     

.tabs { 
	display: none;  
}  

/* below is for the carousel */  

.carousel-control { 
	display: none;
}  

.carousel-indicators { 
	display: none;
}   

/* below are for the glow of the inputs */  

.success_color { 
	border-color: #5CB85C; 
}  

.error_color { 
	border-color: red; 
}

.success_color:focus { 
	border-color: #5CB85C;  
	box-shadow: #5CB85C;
}

.error_color:focus {  
	border-color: red;  
	box-shadow: red;
} 

/* below are the designs for the popover */          

.popover .popover-title { 
	text-align: center;
}  

.success_wrap { 
	border-color: #5CB85C;
}  

.success_wrap.top .arrow { 
	border-top-color: green;
}  

.success_wrap .popover-title { 
	color: #5CB85C;  
	font-weight: bold;
}    

.success_wrap .popover-content { 
	color: #5CB85C;  
}       


.error_wrap { 
	border-color: red;
}  

.error_wrap.top .arrow { 
	border-top-color: red;
}  

.error_wrap .popover-title { 
	color: red;  
	font-weight: bold;
}    

.error_wrap .popover-content { 
	color: red;  
}  






   













  






