.left {  
	float: left;
} 

.right {   
	float: right;
}  

.clear {  
	clear: both;
}

.main_container {
	padding-top: 50px;
	padding-bottom: 20px;
}   

.my_button {
	margin-right: 10px;
}

.my_hidden_div {
	display: none;
}   

.my_search_box {
	margin-bottom: 20px;
}   

table.academic th, table.academic td {   
	text-align: center;
}   

.update_student_grade {  
	width: 100px;
	text-align: center;
}    

#captcha_image_container {   
	margin-top: 9px;
}

.refresh_captcha {    
	display: block;
	margin-top: 15px; 
	margin-left: 15px;  
	cursor: pointer;
}         


/* below are the styles for the tabs */     

.tabs { 
	display: none;  
}  

/* below is for the carousel */  

.carousel-control { 
	display: none;
}  

.carousel-indicators { 
	display: none;
}
   













  






